
services:
  spark-master:
    image: apache/spark:4.1.0-preview3-python3
    container_name: spark-master
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.master.Master
      --host spark-master
      --port 7077
      --webui-port 8080
    ports:
      - "7077:7077"
      - "8080:8080"

  spark-worker-1:
    image: apache/spark:4.1.0-preview3-python3
    container_name: spark-worker-1
    depends_on:
      - spark-master
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
    ports:
      - "8081:8081"

  spark-worker-2:
    image: apache/spark:4.1.0-preview3-python3
    container_name: spark-worker-2
    depends_on:
      - spark-master
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
    ports:
      - "8082:8081"

